.nav{
  @media screen and (max-width:"800px"){
    position:absolute;
    top:100%;
    background-color:yellow;
    width:100%;
    transform:scale(1,0);
    transform-origin:top;
    transition:transform .3s ease-in-out;
  }
  
  &__list{
    li{
      border-bottom:1px solid rgba(black, .2);
      display:flex;
      height:60px;
      align-items:center;
      justify-content:flex-end;
      a{
        display:flex;
        align-items:center;
        justify-content:center;
        height:60px;
        text-align:right;
        opacity:0;
        padding:.8rem;
        padding-left:2rem;
        padding-right:2rem;
      }
    }
  }
}

.nav-toggle{
  span{
    margin-left:2rem;
    margin-right:.5rem;
  }
  i{
    margin-left:.5rem;
    margin-right:2rem;
    transition:rotate, .5s;
  }
}

.nav-open{
  .site-nav{
    transform:scale(1,1);
    li{
      a{
        opacity:1;
        transition:opacity .5s ease-in-out .2s;
      }
    }
  }
  .nav-toggle{
    i{
      transform:rotate(90deg);
      transition:rotate, .5s;
    }
  }
}